#{extends 'main.html' /}
#{set title:'Home' /}

<h3>

esperance_vie : ${esperance_vie}
</h3>

<section id="gauche">
	<form method="post" action="@{Application.confirmer}" id="formComparer">
		<select id="pays" name="pays" multiple>
			<option selected disabled>Pays</option>
			#{list items:listePays, as:'pays'}
				<option value="${pays.nom}">${pays.nom}</option>
			#{/list}
		</select>
		
		<select id="annees" multiple>
			<option selected disabled>Années</option>
			#{list items:listeAnnees, as:'annee'}
				<option value="${annee.annee}">${annee.annee}</option>
			#{/list}
		</select>
		
		<ul>
			<li><input type="checkbox" name="criteresRecherche" value="population" />Nombre d'habitants</li>
			<li><input type="checkbox" name="criteresRecherche" value="natalite" />Natalité</li>
			<li><input type="checkbox" name="criteresRecherche" value="mortalite" />Mortalité</li>
			<li><input type="checkbox" name="criteresRecherche" value="mortalite_infantile" />Mortalité infantile</li>
			<li><input type="checkbox" name="criteresRecherche" value="esperance_vie" />Espérance de vie</li>
			<li><input type="checkbox" name="criteresRecherche" value="croissance" />Croissance</li>
		</ul>
		
		<input type="submit" value="Comparer" id="comparer" />
	</form>
</section>
<section id="droite">
	<div id="chart_div"></div>
</section>

#{set 'moreScripts'}
	
<script>
(function($){
	google.charts.load('current', {packages: ['corechart', 'line']});

	//google.charts.setOnLoadCallback(drawBasic);
	
	function drawBasic(json, critere, tabPays) {alert("et oui");
	
	      var data = new google.visualization.DataTable();
	      data.addColumn('number', 'Année');
	      
	     $.each(tabPays, function(index, nomPays){
	    	  data.addColumn('number', nomPays);
	     });
	      
	      $.each(json, function(index, donnee){
		         data.addRow(donnee);
	      });
	
	      var options = {
	        hAxis: {
	          title: 'Années'
	        },
	        vAxis: {
	          title: critere
	        }
	      };
	      
	      $('#chart_div').after('<div id="chart_div_">"+ critere +"</div>');
	      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
	
	      chart.draw(data, options);
	}
	
	$("#formComparer").submit(function(event) {
		event.preventDefault();
	
		var criteresRecherche = [];
		$.each($("input[name='criteresRecherche']:checked"), function(index, critere){
			criteresRecherche.push($(critere).val());
		});
		var tabPays = [];
		$.each($("select[name='pays']:selected"), function(index, pays){
			tabPays.push($(pays).val());
		});
		
		$.ajax({
			  url: "@{Application.confirmer}",
			  type: "POST",
			  //dataType: "json", 
			  data : "pays="+$("#pays").val()+"&annees="+$("#annees").val() + "&criteresRecherche="+criteresRecherche
		}).done(function( json, textStatus, jqXHR ) { 
			$.each($(criteresRecherche), function(index, critere){alert("critere : "+critere);
				drawBasic(json, critere, tabPays);
			});
				
	  });
		
	});
})(jQuery);
</script>
#{/set}


