#{extends 'main.html' /}
#{set title:'Home' /}

<h3>

esperance_vie : ${esperance_vie}
</h3>

<section id="gauche">
	<form method="post" action="@{Application.confirmer}" id="formComparer">
		<select id="pays" name="pays" multiple>
			<option selected disabled>Pays</option>
			#{list items:listePays, as:'pays'}
				<option value="${pays.nom}">${pays.nom}</option>
			#{/list}
		</select>
		
		<select id="annees" multiple>
			<option selected disabled>Années</option>
			#{list items:listeAnnees, as:'annee'}
				<option value="${annee.annee}">${annee.annee}</option>
			#{/list}
		</select>
		
		<ul>
			<li><input type="checkbox" name="criteresRecherche" value="population" />Nombre d'habitants</li>
			<li><input type="checkbox" name="criteresRecherche" value="natalite" />Natalité</li>
			<li><input type="checkbox" name="criteresRecherche" value="mortalite" />Mortalité</li>
			<li><input type="checkbox" name="criteresRecherche" value="mortalite_infantile" />Mortalité infantile</li>
			<li><input type="checkbox" name="criteresRecherche" value="esperance_vie" />Espérance de vie</li>
			<li><input type="checkbox" name="criteresRecherche" value="croissance" />Croissance</li>
		</ul>
		
		<input type="submit" value="Comparer" id="comparer" />
	</form>
</section>
<section id="droite">
	<div id="chart_div"></div>
</section>

#{set 'moreScripts'}
	
<script>
(function($){
	
	   google.charts.load('current', {packages: ['corechart', 'line']});

	   
		   function drawBasic(donneesJson, critere, pays) { 
		
		         var data = new google.visualization.DataTable();
		         data.addColumn('string', 'Date');/* 
		         data.addColumn('number', 'France');
		         data.addColumn('number', 'Chine'); */

		         $.each(pays, function(index, nomPays){
		        	 data.addColumn('number', nomPays);
			      });
			      
		         $.each(donneesJson, function(index, donnee){
			         data.addRow(donnee);
		         });
		     
		         var options = {
		           hAxis: {
		             title: 'Années'
		           },
		           vAxis: {
		             title: critere
		           }
		         };

				//$('#chart_div').after('<div id="chart_div_'+ critere +'></div>');
				$('#chart_div').after('<div id="chart_div_'+critere+'"></div>');	
		         var chart = new google.visualization.LineChart(document.getElementById('chart_div_'+critere));
		
		         chart.draw(data, options);
		       }
	    
	    
		$("#formComparer").submit(function(event) {
			event.preventDefault();

			var criteresRecherche = [];
			var pays = [];
			$.each($("input[name='criteresRecherche']:checked"), function(index, value){
				criteresRecherche.push($(value).val());
			});
			$.each($("select[name='pays'] option:selected"), function(index, value){
				pays.push($(value).val());
			});
			$.each($(criteresRecherche), function(index, critere){
				$.ajax({
					  url: "@{Application.confirmer}",
					  type: "POST",
					  dataType: "json", 
					  data : "pays="+$("#pays").val()+"&annees="+$("#annees").val() + "&critere="+critere
				}).done(function( donneesJson, textStatus, jqXHR ) { 
					//$.each($(criteresRecherche), function(index, critere){
						drawBasic(donneesJson, critere, pays);
					//});
						
			  	});
			});
		});
		
		   
		   
	})(jQuery);
</script>
#{/set}


